// Font
$font-primary            : 'Roboto', Helvetica, Arial, sans-serif

// Main font-size
$fs-main                 : 15px

// Main line-height
$lh-main                 : 26px

// Main color
$color-1                 : #303a52
$color-1-dark            : #161d2e
$color-1-light           : #222b3f
$color-2                 : #f1f2f7
$color-2-dark            : #dbe0f9
$color-3                 : #bc0411

//gradient
$gradient-primary        : linear-gradient(to left, #bc0411, #4160ee)
$gradient-primary-r      : linear-gradient(to right, #bc0411, #4160ee)

//transition
$trans-1-all             : 0.3s all ease-in-out
$trans-1-trf             : 0.3s transform ease-in-out