header.header
	.container
		ul.menu
			+li({class: 'menu-link active', name: 'Личная информация', href: '#intro'})
			+li({class: 'menu-link', name: 'Опыт', href: '#exp'})
			+li({class: 'menu-link', name: 'JavaScript', href: '#js'})
			+li({class: 'menu-link', name: 'О себе', href: '#about'})
		.burger
			span.burger-line
			span.burger-line
			span.burger-line

