header.header
	.container
		ul.menu
			+li({class: 'menu-link active', name: 'Личная информация'})
			+li({class: 'menu-link', name: 'Опыт'})
			+li({class: 'menu-link', name: 'JavaScript'})
			+li({class: 'menu-link', name: 'О себе'})
		.burger
			span.burger-line
			span.burger-line
			span.burger-line

