// header style
.header
	width: 100%
.menu
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	max-width: 500px
	height: 80px
	margin: 0 auto
	&-link
		&.active
			a
				color: $color-1
		a
			transition: $trans-1
			font-size: 14px
			color: $color-2
@media screen and (max-width: 768px)
	.page_index
		padding-top: 30px
	.header
		position: fixed
		display: flex
		top: 0
		height: 30px
		background: #fff
		z-index: 5
		transition: $trans-1
		&.active
			height: 100vh
			min-height: 100vh
	.burger
		position: relative
		top: 8px
		display: flex
		flex-direction: column
		width: 26px
		height: 17px
		left: 20px
		transition: $trans-1
		&-line
			position: absolute
			width: 26px
			height: 3px
			background: #000
			transition: $trans-1
			&:nth-child(1)
				top: 0px
			&:nth-child(2)
				top: 6px
				margin: 0
			&:nth-child(3)
				top: 12px
		&.active
			position: relative
			.burger-line
				position: absolute
				top: 6px
				&:nth-child(1)
					transform: rotate(45deg)
				&:nth-child(2)
					opacity: 0
				&:nth-child(3)
					transform: rotate(-45deg)
	.menu
		position: fixed
		display: none
		flex-direction: column
		align-items: center
		justify-content: center
		height: calc(100vh - 30px)
		top: 30px
		left: 0
		opacity: 0
		transition: $trans-1
		&.active
			display: flex
			opacity: 1
		&-link
			margin-bottom: 20px